<h1> Items </h1>
<table>
  <thead>
    <tr>
        <td><b>Name</b></td>
        <td><b>Price</b></td>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.price %></td>
        <%# show %>
        <td><%= link_to 'Show', item %></td>
        <%# //delete %>
        <td><%= button_to "Delete", item_path(item), method: :delete, data: { confirm: "Are you sure?" } %></td>
        <%# //edit %>
        <td><%= link_to "Edit", edit_item_path(item) %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>
<a href="/items/new">New Item</a>
